{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!
{% endblock %}

{% block body %}
	<h1>Panneau d'administration</h1>
	<p>Bienvenue sur le panneau d'administration de l'application.</p>
	<a href="/admin/session">Gérer les sessions</a>
	<a href="/admin/task">Gérer les tâches</a>
	<a href="/admin/edit_user">Gérer les utilisateurs</a>
{% endblock %}

