{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn bg-blue-500 hover:bg-blue-600 focus:outline-none focus:ring focus:bg-blue-600 text-white py-2 px-4 my-6 rounded-lg w-full"">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
